/* Home Page */

@media only screen and (max-width: 1100px) {
    .text-b {
        font-size: 90px;
        top: -5%;
        left: 22%;
    }

    .text-s {
        font-size: 60px;
        top: 5%;
        left: 55%;
    }

    .atropos-inner {
        top: 10%;
        width: 113%;
        left: -6%;
        height: 100%;
        overflow: hidden;
        transform-style: preserve-3d;
        transform: translateZ(0);
        display: block
    }

    .fanctName {
        margin-right: 3px;
        text-shadow: 2px 2px white;
        font-weight: 500;
        font-family: 'Orbitron', sans-serif;
    }
}

@media only screen and (max-width: 1000px){
    .text-s {
        font-size: 60px;
        top: 5%;
        left: 58%;
    }
}

@media only screen and (max-width: 900px){

    .text-b {
        font-size: 90px;
        top: -6%;
        left: 15%;
    }

    .text-s {
        font-size: 60px;
        top: 5%;
        left: 55%;
    }
    
    .atropos-inner{
        top: 15%;
        left: 0%;
    }
}

@media only screen and (max-width: 800px){

    .text-b {
        font-size: 60px;
        top: -4%;
        left: 22%;
    }

    .text-s {
        font-size: 30px;
        top: 8%;
        left: 45%;
    }
    
    .atropos-inner{
        top: 20%;
        left: 0%;
    }

    .fanctName{
        margin-right: 3px;
        text-shadow: 1.5px 1.5px white;
        font-weight: 500;
    }
}

@media only screen and (max-width: 700px){

    .text-s {
        font-size: 30px;
        top: 10%;
        left: 48%;
    }
}

@media only screen and (max-width: 600px){

    .text-s {
        font-size: 15px;
        top: 10%;
        left: 41%;
    }

    .text-b {
        font-size: 50px;
        top: -6%;
        left: 22%;
    }

    .atropos-inner{
        top: 25%;
        left: 0%;
    }
}

@media only screen and (max-width: 500px){

    .text-s {
        display: none;
    }

    .text-b {
        font-size: 35px;
        top: -2%;
        left: 25%;
    }

    .atropos-inner{
        top: 25%;
        left: 0%;
    }
}

@media only screen and (max-width: 400px){
    .text-b {
        font-size: 35px;
        top: -2%;
        left: 19%;
    }

    .menu {
        font-size: 20px;
        position: fixed;
        top: 3%;
        color: white;
        left: 0;
        z-index: 1;
    }

}

@media only screen and (max-width: 300px){
    .text-b {
        font-size: 22px;
        top: -2%;
        left: 22%;
    }

    /* .menu {
        position: fixed;
        top: 50px;
        color: white;
        left: 0;
        z-index: 1;
    } */
}
/* Gallery */





/* About Us */

@media only screen and (max-width: 1298px) {
    .about {
        display: block;
    }

    .about-text {
        text-align: center;
        font-size: 16px;
        margin: auto 25px;
        padding: auto;
    }

    .heading {
        font-size: 28px;
        font-weight: 500;
        color: white;
        text-align: center;
    }

    .about-img img {
        width: 70%;
        margin: auto;
        height: 15%;
    }

    /* Custom List Styling */
    .about-text ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        gap: 1rem;
    }

    .about-text li {
        display: grid;
        grid-template-columns: 0 1fr;
        gap: 1.75em;
        align-items: start;
        font-size: 16px;
        line-height: 1.25;
    }

    .about-text ul li::before {
        content: attr(data-icon);
        /* Make slightly larger than the li font-size
        but smaller than the li gap */
        font-size: 20px;
    }

    #ufo {
        display: none;
    }


}

@media only screen and (max-width: 898px) {
    .sponser {
        margin: 0;
        /* padding: 0; */
    }
}



/* Speakers */